<!DOCTYPE html>
<html>
<head>
  <title>ApiBakeoff</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
The tasks will be added to the user 4889876 by default.
<%= yield %>

</body>
</html>
